* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #00111C;
    overflow-x: hidden;
}

/* Navbar */
.navbar-container {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 20px 100px 60px 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(rgba(0, 17, 28, 1) 0%, rgba(0, 17, 28, 0) 100%);
}

.navbar-container .navbar-logo {
    color: #00607A;
}

.navbar-links {
    padding: 10px 0px 10px 30px;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.navbar-links ul li {
    display: inline;
    list-style-type: none;
    padding-left: 30px;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.navbar-links ul li a {
    text-decoration: none;
    color: #00607A;
    font-size: 15px;
    font-weight: 500;
}

.navbar-container .navbar-links .btn {
    /*Contact link Button*/
    margin-left: 20px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 13px;
    margin-top: 20px;
    background: linear-gradient(90deg, #00607A, transparent) #00c7fe;
    font-weight: 500;
    transition: .2s;
}

.navbar-container .navbar-links .btn:hover {
    background: transparent;
    border: 1px solid #00c7fe;
}

.navbar-container .navbar-links .btn:active {
    border-right: 4px solid #00c7fe;
    border-bottom: 4px solid #00c7fe;
}

.navbar-container .navbar-links .btn a {
    color: #fff;
}

.menu-btn {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #00607A;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        background: linear-gradient(rgba(0, 17, 28, 1) 20%, rgba(0, 17, 28, 0) 100%);
        padding: 10px 0;
        height: 200px;
        transform: translateY(-20px);
    }
    .navbar-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-container .navbar-links .btn {
        width: 20%;
    }
    .navbar-links.active {
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar-links ul li {
        padding: 10px 0;
        text-align: center;
    }

    .menu-btn {
        display: block;
    }
    .navbar-links.active ul li {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .navbar-links.active ul li:nth-child(1) {
        transition-delay: 0.1s;
    }

    .navbar-links.active ul li:nth-child(2) {
        transition-delay: 0.2s;
    }

    .navbar-links.active ul li:nth-child(3) {
        transition-delay: 0.3s;
    }

    .navbar-links.active ul li:nth-child(4) {
        transition-delay: 0.4s;
    }
}

/* hero section */
.hero-section {
    display: flex;
    color: #00607A;
    margin: 50px;
}

.hero-section .blob {
    position: absolute;
    filter: blur(1000px);
    top: -500px;
    right: -100px;
    z-index: -999;
}

.hero-section .hero-first {
    height: 100vh;
    width: 40%;
}

.hero-section .hero-first .img1 {
    height: 810px;
    width: 1000px;
    position: relative;
    left: -410px;
    top: 30px;
    mask-image: linear-gradient(-30deg, transparent 25%, black 70%);
}

.hero-section .hero-first .img2 {
    position: relative;
    left: -60px;
    filter: opacity(40%);
}

.hero-section .hero-second {
    height: 100vh;
    width: 60%;
    text-align: right;
    padding: 30px;
    margin: 130px 0;
}

.hero-section .hero-second h1 {
    font-size: 110px;
    font-weight: bold;
}

.hero-section .hero-second h1:nth-child(1) {
    font-size: 130px;
    font-weight: bold;
    color: #00607a58;
    margin-bottom: -30px;
}

.hero-section .hero-second h3 {
    font-family: normal;
    color: #005f7a8c;
}

.hero-section .hero-second .hero-btn .btn {
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 13px;
    margin-top: 20px;
    background: linear-gradient(90deg, #00607A, transparent) #00c7fe;
    color: #fff;
    font-weight: 500;
    transition: .2s;
    border: 1px solid #00607A;
}

.hero-section .hero-second .hero-btn .btn:hover {
    background: transparent;
    border: 1px solid #00c7fe;
}

.hero-section .hero-second .hero-btn .btn:active {
    border-right: 4px solid #00c7fe;
    border-bottom: 4px solid #00c7fe;
}

.hero-section .hero-second .hero-btn .btn a {
    color: #fff;
    text-decoration: none;
}

.hero-section .hero-second .obj {
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 3px 8px;
    position: relative;
    top: -10px;
    right: 10px;
    background: linear-gradient(90deg, rgba(0, 95, 122, 0.826) 0%, rgba(0, 175, 224, 0.719) 100%);
    box-shadow: -1px -3px 28px 10px #00607A;
    animation: grow 1s ease infinite alternate;
}

@keyframes grow {
    0% {
        box-shadow: 0px 0px 28px 10px #00607A;
    }

    100% {
        box-shadow: 0px 0px 30px 20px #00607A;
    }
}

.hero-section .hero-second .obj i {
    font-size: 10px;
    color: #fff;
}

.hero-section .social-links {
    height: 30px;
    width: 170px;
    display: flex;
    position: absolute;
    top: 80%;
    right: 45%;
    justify-content: space-around;
}

.hero-section .social-links i {
    font-size: 22px;
    color: #00607A;
    text-decoration: none;
}

.hero-section .social-links a {
    text-decoration: none;
}

.hero-section .social-links .link {
    background-color: #ffffff1a;
    padding: 5px 6px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: solid 1px;
    border-radius: 2em;
    border: 1px solid #00607A;
    transition: .2s ease;
}

.hero-section .social-links .link:hover {
    color: #00afe0b7;
    text-shadow: 0 0 10px #00607A;
    background-color: transparent;
}

/* Skills section */

.all-cards {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
    margin-bottom: 30px;
}

.skills-section .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.skills-section .title h2 {
    color: #005f7acb;
    font-family: normal;
    font-size: 25px;
}

.skills-section .title h1 {
    color: #00607A;
    font-size: 30px;
}

.all-cards .one {
    display: flex;
    padding: 0 30px;
    justify-content: center;
}

.all-cards .img {
    position: relative;
    height: 100px;
    width: 130px;
    bottom: 200px;
    left: 1400px;
    filter: opacity(30%);
}

.all-cards .one .box1 {
    height: 300px;
    width: 300px;
    background-color: #ffffff22;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    border: 3px solid #00607A;
    transition: .2s ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.all-cards .one .box1:hover {
    border: 4px solid #00c7fe;
    box-shadow: -1px -3px 28px 10px #005f7a6b;
    ;

}

.all-cards .one .box1 img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.all-cards .one .box1 h1 {
    color: #fff;
    font-size: 25px;
}

/* Projects Section */
.project-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.project-section .blob {
    filter: blur(1000px);
    position: absolute;
    transform: translate(1000px, -400px);
    z-index: -999;
}

.project-section .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    color: #00607A;
   
}

.project-section .title h2 {
    color: #005f7acb;
    font-family: normal;
    font-size: 25px;
    margin-right: 90px;
}

.project-section.title h1 {
    color: #00607A;
    font-size: 30px;
}

.project-sliders {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-sliders .slider:active {
    cursor: grabbing;
}

.project-sliders .slider-track {
    display: flex;
    gap: 20px;
    transition: all 0.2s ease;
}

.project-sliders .card {
    flex: 0 0 280px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
    position: relative;
    transition: .2s ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.project-sliders .card img {
    object-fit: cover;
    height: 400px;
    width: 280px;
    object-position: center;
    user-select: none;
    pointer-events: none;
    transition: .2s ease;

}
.project-sliders .card:hover img{
    border: 3px solid #00607A;
    box-shadow: 0px 0px 10px 3px #005f7a94;
    transform: scale(1.1);
}
.project-sliders .card:hover {
    border: 3px solid #00607A;
    box-shadow: 0px 0px 10px 3px #005f7a94;
}
.project-sliders .card::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00111c86, #00070c);
}

.project-sliders .card:hover h1 {
    color: #fff;
    text-shadow: 0px 0px 10px #00607A;
}

.project-sliders .card h1 {
    color: #fff;
    text-align: center;
    z-index: 3;
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    margin: auto;
    width: 100%;
    font-weight: 400;
    user-select: none;
    /* Disables text selection */
}

/* About section */
.about-section {
    height: 70vh;
    width: 100%;
}

.about-section .about-div {
    /* background: url("about.jpg"); */
    background-image:
    linear-gradient(to bottom,#00111cc3 , rgba(0, 0, 0, 0.619)),
    url('about.jpg');
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.about-section .about-div h1 {
    color: #00607A;
}

.about-section .about-div .content {
    margin-top: 20px;
    width: 70%;
}

.about-section .about-div .content h4 {
    text-align: center;
    font-weight: 500;
    color: #ffffffc4;
}

.about-section .img {
    filter: opacity(30%);
    margin: 10px;
}

/* Msj Section */
.msj-section {
    width: 100%;
    height: 80vh;
}
.msj-section .blob {
    filter: blur(1000px);
    position: absolute;
    transform: translate(-500px, -400px);
    z-index: -999;
}

.msj-section h1 {
    text-align: center;
    color: #00607A;
}

.msj-section .msj-form {
    display: flex;
    height: 70%;
    width: 80%;
    margin: auto;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.msj-section .msj-form form {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 50%;
    padding: 10px 0px 10px 100px;
}

.msj-section .msj-form .form2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    padding: 10px 100px 10px 0px;
}

.msj-section .msj-form form input {
    padding: 15px 20px;
    outline: none;
    border: 2px solid #00607A;
    border-radius: 10px;
    margin: 10px;
    background-color: #ffffff25;
    color: #fff;
}

.msj-section .msj-form form input:focus {
    border: 2px solid #00c7fe;
}

.msj-section .msj-form form input::placeholder,
textarea::placeholder {
    color: #ffffff8d;
}

.msj-section .msj-form .form2 textarea {
    padding: 10px 20px;
    outline: none;
    border: 2px solid #00607A;
    border-radius: 10px;
    margin: 10px;
    background-color: #ffffff25;
    max-width: 100%;
    max-height: 185px;
    min-height: 185px;
    ;
    color: #fff;
}

.msj-section .msj-form .form2 input {
    margin-left: auto;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 13px;
    background: linear-gradient(90deg, #00607A, transparent) #00c7fe;
    color: #fff;
    transition: .2s;
    border: 1px solid #00607A;
}

.msj-section .msj-form .form2 input:hover {
    background: transparent;
    border: 1px solid #00607A;
}

.msj-section .msj-form .form2 input:active {
    border-right: 3px solid #00c7fe;
    border-bottom: 3px solid #00c7fe;
}

/* Footer Section */
.footer-section {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
}
.footer-section .title{
    width: 100%;
    height: 70%;
    color:#00afe0b7;
    text-align: center;
    margin-top: 60px;
}
.footer-section .title h3{
    color: #00607A;
    font-size: 25px;
    font-weight: lighter;
}
.footer-section .title h1{
    font-size: 40px;
}
.footer-section .social-links {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.footer-section .social-links .link {
    align-items: center;
    background-color: #ffffff1a;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 2em;
    border: 1px solid #00607A;
    transition: .2s ease;
    margin: 10px;
}
.footer-section .social-links .link i{
    color: #00c7fe;
    font-size: 20px;
}
.footer-section .social-links a {
    text-decoration: none;
}

.footer-section .social-links .link:hover {
    color: #00afe0b7;
    text-shadow: 0 0 10px #00607A;
    background-color: transparent;
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(-100x);
        filter: blur(5px);
    }

    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0x);
        filter: blur(0px);
    }
}